<ul>
  {% if user.is_authenticated %}
    <li>User: {{ user.username }}</li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
  <br>
  <li><a href="{% url 'manager:index' %}">Home</a></li>
  <li><a href="{% url 'manager:task-list' %}">All tasks</a></li>
  <br>
  <p>Edit:</p>
  <li><a href="{% url 'manager:worker-list' %}">Employees</a></li>
  <li><a href="{% url 'manager:task-type-list' %}">Task types</a></li>
  <li><a href="{% url 'manager:position-list' %}">Positions</a></li>
</ul>
