{% extends "base.html" %}

{% block content %}
  <h2>Tasks <a href="{% url 'manager:task-create' %}">+</a></h2>
  <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Completed</th>
        <th>Priority</th>
        <th>Task Type</th>
        <th>Number of assignees</th>
      </tr>
    {% for task in task_list %}
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.description|slice:":50" }}
          {% if task.description|length > 50 %}
            ...
          {% endif %}
        </td>
        <td>{{ task.deadline }}</td>
        {% if task.is_completed %}
          <td>Yes</td>
        {% else %}
          <td>No</td>
        {% endif %}
        <td>{{ task.get_priority_display }}</td>
        <td>{{ task.task_type.name }}</td>
        <td>{{ task.assignees.count }}</td>
      </tr>
    {% endfor %}

    </table>
{% endblock %}