{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row">
        <form action="" method="get" class="d-flex flex-row align-items-center flex-wrap">
          {{ search_form|crispy }}
          <input type="submit" value="🔍" class="btn bg-gradient-white">
        </form>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            {% if task_list %}
              <div class="card-header pb-0">
                <div class="row">
                  <div class="col-6 d-flex align-items-center">
                    <h6 class="mb-0">List of all tasks</h6>
                  </div>
                  <div class="col-6 text-end">
                    <a class="btn bg-gradient-dark mb-0" href="{% url 'manager:task-create' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;New Task</a>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center justify-content-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Task type</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Deadline</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Priority</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Number of workers</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for task in task_list %}
                        <tr>
                          <td>
                            <div class="d-flex px-2">
                              <div class="my-auto">
                                <h6 class="mb-0 text-sm"><a href="{% url 'manager:task-detail' pk=task.id%}">{{ task.name }}</a></h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="text-sm font-weight-bold mb-0">{{ task.task_type.name }}</p>
                          </td>
                          <td>
                            <p class="text-sm font-weight-bold mb-0">{{ task.deadline }}</p>
                          </td>
                          <td>
                            <p class="text-sm font-weight-bold mb-0">
                              {% if task.is_completed %} Completed ✅ {% else %} Not Completed ❌ {% endif %}
                            </p>
                          </td>
                          <td>
                            <p class="text-sm font-weight-bold mb-0">{{ task.get_priority_display }}</p>
                          </td>
                          <td>
                            <p class="text-sm font-weight-bold mb-0">{{ task.assignees.count }}</p>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            {% else %}
              <div class="card-header pb-0">
                <div class="row">
                  <div class="col-6 d-flex align-items-center">
                    <h6 class="mb-0">No tasks in the company yet</h6>
                  </div>
                  <div class="col-6 text-end">
                    <a class="btn bg-gradient-dark mb-0" href="{% url 'manager:task-create' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;New Task</a>
                  </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2"></div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
{% endblock %}
